<app-route-banner class="lg:tw-hidden" currentRoute="Login"></app-route-banner>

<section class="container tw-mb-6 lg:tw-grid lg:tw-grid-cols-2 tw-gap-8 lg:tw-h-screen lg:tw-content-center">
  <app-wrapper title="LOGIN TO YOUR ACCOUNT">
    <div class="tw-mb-3 tw-pointer-events-auto">
      <div class="tw-mb-2 tw-font-light tw-text-xl">Email</div>
      <input class="border-main tw-border tw-rounded-sm tw-w-full focus:tw-outline-0 tw-h-12 tw-px-3" type="text" name="" >
    </div>

    <div class="tw-mb-3 tw-pointer-events-auto">
      <div class="tw-mb-2 tw-font-light tw-text-xl">Password</div>
      <input class="border-main tw-border tw-rounded-sm tw-w-full focus:tw-outline-0 tw-h-12 tw-px-3" type="text" name="" >
    </div>

    <div class="tw-pointer-events-auto">
      <div class="tw-cursor-pointer lg:tw-mb-6">Forgot your password?</div>
    </div>

    <button (click)="routerMethods.toHome()" class="tw-pointer-events-auto bg-main tw-block tw-w-full xs:tw-mt-5 lg:tw-mt-0 tw-py-4 tw-font-bold tw-text-white tw-rounded-full lg:tw-col-span-2 xl:tw-col-span-1 xl:tw-col-start-2">LOGIN</button>
  </app-wrapper>

  <app-wrapper title="DON'T HAVE AN ACCOUNT?">
    <button class="tw-pointer-events-auto bg-main tw-block tw-w-full xs:tw-mt-5 lg:tw-mt-0 tw-py-4 tw-font-bold tw-text-white tw-rounded-full lg:tw-col-span-2 xl:tw-col-span-1 xl:tw-col-start-2" (click)="routerMethods.toRegister()">REGISTER</button>
  </app-wrapper>
</section>
