<nav>
  <div class="container tw-grid tw-grid-cols-3 tw-items-center xs:tw-py-5 lg:tw-py-4 tw-justify-items-start">

    <div class="tw-h-10 tw-cursor-pointer my-account xs:tw-hidden lg:tw-grid-cols-2 lg:tw-items-center">
      <svg class="" height="r" style="enable-background:new 0 0 512 512" version="1.1" viewBox="0 0 24 24" width="" x="0"
           xml:space="preserve"
           xmlns="http://www.w3.org/2000/svg" y="0"><g><path d="M12,12A6,6,0,1,0,6,6,6.006,6.006,0,0,0,12,12ZM12,2A4,4,0,1,1,8,6,4,4,0,0,1,12,2Z" data-original="#000000" fill="#00aff0" xmlns="http://www.w3.org/2000/svg"/><path
        d="M12,14a9.01,9.01,0,0,0-9,9,1,1,0,0,0,2,0,7,7,0,0,1,14,0,1,1,0,0,0,2,0A9.01,9.01,0,0,0,12,14Z"
        data-original="#000000" fill="#00aff0"
        xmlns="http://www.w3.org/2000/svg"/></g></svg>
      <div class="tw-cursor-pointer tw-text-xs tw-w-full">My Account</div>
    </div>

    <div class="lg:tw-hidden xs:tw-h-7 md:tw-h-10 ">
      <svg class="" height="" style="enable-background:new 0 0 512 512" version="1.1" viewBox="0 0 490.667 490.667" width=""
           x="0" xml:space="preserve"
           xmlns="http://www.w3.org/2000/svg" y="0"><g>
<g xmlns="http://www.w3.org/2000/svg">
	<path
    d="M469.333,224h-448C9.551,224,0,233.551,0,245.333c0,11.782,9.551,21.333,21.333,21.333h448   c11.782,0,21.333-9.551,21.333-21.333C490.667,233.551,481.115,224,469.333,224z"
    data-original="#000000" fill="#00aff0"/>
  <path
    d="M21.333,117.333h448c11.782,0,21.333-9.551,21.333-21.333s-9.551-21.333-21.333-21.333h-448C9.551,74.667,0,84.218,0,96   S9.551,117.333,21.333,117.333z"
    data-original="#000000" fill="#00aff0"/>
  <path
    d="M469.333,373.333h-448C9.551,373.333,0,382.885,0,394.667C0,406.449,9.551,416,21.333,416h448   c11.782,0,21.333-9.551,21.333-21.333C490.667,382.885,481.115,373.333,469.333,373.333z"
    data-original="#000000" fill="#00aff0"/>
</g>















</g></svg>
    </div>
    <img alt="" src="assets/img/Only%20Fans%20Logo.png" (click)="routerMethod.toHome()" class="tw-cursor-pointer tw-w-48 tw-place-self-center">


    <div class="xs:tw-grid xs:tw-grid-cols-2 tw-place-items-end tw-items-center lg:tw-grid-cols-3 tw-w-full">

      <div class="tw-relative tw-h-full lg:tw-col-span-2 lg:tw-w-full">
        <input class="xs:tw-hidden lg:tw-block tw-border border-main tw-w-full tw-h-full tw-rounded-md input-custom-style" type="text" placeholder="Search Here..">
        <div class="xs:tw-h-7 md:tw-h-10 lg:tw-absolute lg:tw-left-0 lg:tw-top-0">
          <svg class="lg:tw-p-2"  height="" style="enable-background:new 0 0 512 512" version="1.1" viewBox="0 0 24 24" width="" x="0"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg" y="0"><g><path d="M23.707,22.293l-5.969-5.969a10.016,10.016,0,1,0-1.414,1.414l5.969,5.969a1,1,0,0,0,1.414-1.414ZM10,18a8,8,0,1,1,8-8A8.009,8.009,0,0,1,10,18Z" data-original="#000000" fill="#00aff0" xmlns="http://www.w3.org/2000/svg"/></g></svg>
        </div>
      </div>

      <div (click)="routerMethod.toCart()" class="tw-cursor-pointer xs:tw-h-7 md:tw-h-10">
        <svg class="" height="" style="enable-background:new 0 0 512 512" version="1.1" viewBox="0 0 24 24" width="" x="0"
             xml:space="preserve"
             xmlns="http://www.w3.org/2000/svg" y="0"><g><path d="M22.713,4.077A2.993,2.993,0,0,0,20.41,3H4.242L4.2,2.649A3,3,0,0,0,1.222,0H1A1,1,0,0,0,1,2h.222a1,1,0,0,1,.993.883l1.376,11.7A5,5,0,0,0,8.557,19H19a1,1,0,0,0,0-2H8.557a3,3,0,0,1-2.82-2h11.92a5,5,0,0,0,4.921-4.113l.785-4.354A2.994,2.994,0,0,0,22.713,4.077ZM21.4,6.178l-.786,4.354A3,3,0,0,1,17.657,13H5.419L4.478,5H20.41A1,1,0,0,1,21.4,6.178Z" data-original="#000000" fill="#00aff0" xmlns="http://www.w3.org/2000/svg"/><circle
          cx="7" cy="22" data-original="#000000" fill="#00aff0" r="2" xmlns="http://www.w3.org/2000/svg"/><circle
          cx="17" cy="22" data-original="#000000" fill="#00aff0" r="2" xmlns="http://www.w3.org/2000/svg"/></g></svg>
      </div>

    </div>

  </div>

</nav>

<div class="xs:tw-hidden lg:tw-flex tw-justify-center tw-border border-main">

  <div class="tw-flex tw-justify-center tw-w-9/12 tw-my-10">

    <ul class=" tw-grid tw-w-full tw-grid-cols-5 tw-justify-items-center tw-font-bold">

      <li (click)="routerMethod.toHome()" class="tw-cursor-pointer">Home</li>
      <li class="tw-cursor-pointer">FAQ</li>
      <li class="tw-cursor-pointer">Shop</li>
      <li class="tw-cursor-pointer">About us</li>
      <li class="tw-cursor-pointer">Contact us</li>

    </ul>
  </div>

</div>
