<nav>
  <div class="user-account">
    <object class="svg" data="assets/svg/user-free-icon-font.svg" type=""></object>
    <span>My Account</span>
  </div>
  <div class="hamburger">
    <object class="svg" data="assets/svg/menu-burger-free-icon-font.svg"></object>
  </div>
  <img alt="" src="assets/img/Only%20Fans%20Logo.png" (click)="routerMethod.toHome()" class="pointer">
  <div class="side-items">
    <div class="full-search">
      <input placeholder="Search here...">
      <object class="svg" data="assets/svg/search-free-icon-font.svg"></object>
    </div>
    <div (click)="routerMethod.toCart()" class="pointer">
      <object  class="svg" data="assets/svg/shopping-cart-free-icon-font.svg"></object>
    </div>
  </div>
</nav>

<div class="sub-nav">
  <div class="links">
    <ul>
      <li (click)="routerMethod.toHome()" class="pointer">Home</li>
      <li class="pointer">FAQ</li>
      <li class="pointer">Shop</li>
      <li class="pointer">About us</li>
      <li class="pointer">Contact us</li>
    </ul>
  </div>
</div>
