<nav>
  <div class="user-account">
    <object class="svg" data="assets/svg/user-free-icon-font.svg" type=""></object>
    <span>My Account</span>
  </div>
  <div class="hamburger">
    <object class="svg" data="assets/svg/menu-burger-free-icon-font.svg"></object>
  </div>
  <img src="assets/img/Only%20Fans%20Logo.png" alt="">
  <div class="side-items">
    <div class="full-search">
      <input placeholder="Search here...">
      <object class="svg" data="assets/svg/search-free-icon-font.svg"></object>
    </div>
    <object data="assets/svg/shopping-cart-free-icon-font.svg" class="svg"></object>
  </div>
</nav>

<div class="sub-nav">
  <div class="links">
    <ul>
      <li>Home</li>
      <li>Shop</li>
      <li>FAQ</li>
      <li>About us</li>
      <li>Contact us</li>
    </ul>
  </div>
</div>
