@import "src/styles.scss";

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 36px;
  box-shadow: $nav-box-shadow;
  align-items: center;

  .user-account {
    display: none;
  }

  .side-items {
    display: grid;
    justify-items: end;
    grid-template-columns: repeat(2, 1fr);

    .full-search {
      input {
        display: none;
      }
    }
  }


}

.svg {
  width: 30px;
}

.sub-nav {
  display: none;
}
@import "navbar-component-media-queries";

