<app-route-banner currentRoute="Contact Us"></app-route-banner>
<section class="container tw-mb-9 lg:tw-max-w-3xl lg:tw-h-screen lg:tw-grid lg:tw-content-center">
  <app-wrapper title="SEND US A MESSAGE">
    <div class="tw-mb-3">
      <div class="tw-mb-2 tw-font-light tw-text-xl">Your Name</div>
      <input class="border-main tw-border tw-rounded-sm tw-w-full focus:tw-outline-0 tw-h-12 tw-px-3" type="text" name="" >
    </div>
    <div class="tw-mb-3">
      <div class="tw-mb-2 tw-font-light tw-text-xl">Your Email</div>
      <input class="border-main tw-border tw-rounded-sm tw-w-full focus:tw-outline-0 tw-h-12 tw-px-3" type="text" name="" >
    </div>
    <div class="tw-mb-3">
      <div class="tw-mb-2 tw-font-light tw-text-xl">Message</div>
      <textarea class="border-main tw-border focus:tw-outline-0 tw-w-full tw-p-3 tw-rounded-sm " name="" id="" cols="" rows="10"></textarea>
    </div>

    <button class="bg-main tw-block tw-w-full xs:tw-mt-3 lg:tw-mt-0 tw-py-4 tw-font-bold tw-text-white tw-rounded-full lg:tw-col-span-2 xl:tw-col-span-1 xl:tw-col-start-2">SEND MESSAGE
    </button>
  </app-wrapper>
</section>
