<app-route-banner currentRoute="Shopping Cart"></app-route-banner>

<section>
  <div class="container tw-mt-10 lg:tw-grid lg:tw-grid-cols-2 tw-gap-8">
    <div>
      <h1 class="xs:tw-hidden tw-text-3xl lg:tw-block">Cart Items</h1>
      <div class="tw-grid tw-grid-cols-2 tw-border tw-rounded-md border-main tw-mt-5 tw-relative">
        <img alt="" class="tw-ml-[-1rem]" src="assets/img/fans/fan-2.png">
        <div class="tw-place-self-center tw-w-11/12">
          <div class="tw-font-bold md:tw-text-2xl">Vector SFSI750NW</div>
          <div class="color-main tw-font-bold md:tw-text-xl">₱ 3,000</div>
          <div class="tw-flex tw-gap-2 tw-mt-3">
            <span class="tw-font-light md:tw-text-xl">Qty: </span>
            <div class="tw-relative xs:tw-w-3/6 md:tw-w-1/3 lg:tw-w-2/5">
              <input [formControl]="quantity" class="tw-w-full border-main tw-border tw-rounded-full tw-text-center"
                     type="number">
              <div (click)="addValue()" class="tw-absolute tw-inset-y-0 tw-left-3 tw-cursor-pointer">+</div>
              <div (click)="decreaseValue()" class="tw-absolute tw-inset-y-0 tw-right-3 tw-cursor-pointer">-</div>
            </div>
          </div>
          <div class="mt-3">
            <span class="tw-font-light md:tw-text-xl">Subtotal: </span> <span
            class="color-main tw-font-bold md:tw-text-xl">₱ {{subtotal | number}}</span>
          </div>
          <div class="tw-h-5 tw-absolute tw-right-0 tw-top-0 tw-m-5">
            <svg height=""
                 style="enable-background:new 0 0 512 512" version="1.1" viewBox="0 0 512.021 512.021" width="" x="0"
                 xml:space="preserve"
                 xmlns="http://www.w3.org/2000/svg" y="0"><g>
<g xmlns="http://www.w3.org/2000/svg">
	<path
    d="M301.258,256.01L502.645,54.645c12.501-12.501,12.501-32.769,0-45.269c-12.501-12.501-32.769-12.501-45.269,0l0,0   L256.01,210.762L54.645,9.376c-12.501-12.501-32.769-12.501-45.269,0s-12.501,32.769,0,45.269L210.762,256.01L9.376,457.376   c-12.501,12.501-12.501,32.769,0,45.269s32.769,12.501,45.269,0L256.01,301.258l201.365,201.387   c12.501,12.501,32.769,12.501,45.269,0c12.501-12.501,12.501-32.769,0-45.269L301.258,256.01z"
    data-original="#000000" fill="#00aff0"/>
</g>>
</g></svg>
          </div>
        </div>
      </div>
    </div>

    <div class="lg:tw-grid-cols-2 tw-grid tw-gap-5">
      <button
        class="tw-bg-transparent outline-btn tw-block tw-w-full xs:tw-mt-12 lg:tw-mt-0 tw-py-4 tw-font-bold color-main tw-rounded-full">
        CONTINUE SHOPPING
      </button>
      <button class="bg-main tw-block tw-w-full xs:tw-mt-3 lg:tw-mt-0 tw-py-4 tw-font-bold tw-text-white tw-rounded-full">CLEAR
        SHOPPING CART
      </button>
    </div>


    <div class="tw-row-start-1 tw-col-start-2">
      <h1 class="xs:tw-mt-10 md:tw-text-2xl  lg:tw-mt-0 lg:tw-text-3xl">Summary</h1>
      <div class="tw-grid tw-grid-cols-2 tw-p-5 tw-border tw-rounded-md border-main tw-mt-5 tw-mb-10">
        <div>Subtotal</div>
        <div class="color-main tw-text-end">₱ {{subtotal | number}}</div>
        <div>Shipping fee</div>
        <div class="color-main tw-text-end">₱ {{shipping_fee | number}}</div>
        <div class="tw-font-bold tw-text-xl">Order Total</div>
        <div class="color-main tw-text-xl tw-text-end tw-font-bold">₱ {{order_total | number}}</div>
        <div class="tw-mt-7">Enter Voucher</div>
        <input class="tw-place-self-end tw-border border-main tw-rounded-sm tw-mt-7 tw-text-end tw-w-3/5" type="text">
      </div>
      <button (click)="routerMethods.toCheckout()" class="bg-main tw-block tw-w-full tw-mt-3 tw-py-4 tw-font-bold tw-text-white tw-rounded-full tw-mb-6">
        PROCEED TO CHECKOUT
      </button>
    </div>



  </div>


</section>

