<app-route-banner currentRoute="Shopping Cart"></app-route-banner>
<div class="cart">
  <div class="cart-items">
    <img src="assets/img/fans/fan-2.png" alt="">
    <div class="cart-text">
      <div class="product-title">Vector SFSI750NW</div>
      <div class="product-price">₱ 3,000</div>
      <div class="qty-container">
        <span>Qty: </span>
        <input type="number">
      </div>
      <div class="sub-total-container">
        <span>Subtotal: </span> <span>₱ 3,000</span>
      </div>
      <div class="close-icon">
        <object data="assets/svg/cross-free-icon-font.svg" type="" class="svg"></object>
      </div>
    </div>
  </div>
</div>
