@import "src/styles";

.cart {
  display: grid;
  justify-items: center;
  margin-top: 100px;

  .cart-items {
    width: 95%;
    border: solid 1px $outline-color;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    img {
      margin-left: -20px;
    }

    .cart-text {
      position: relative;
      padding: 20px 0;
      width: 90%;

      .product-title {
        font-size: 18px;
        font-weight: 700;
      }

      .product-price {
        color: $main-color;
        font-weight: 700;
      }

      .qty-container {
        margin: 20px 0;
        display: grid;
        grid-template-columns: 35px 1fr;
        align-items: center;

        span {
          font-weight: 100;
          margin-right: 20px;
        }


        .plus-minus-button{
          width: 50%;
          position: relative;


          .buttons{
            //background-color: red;
            top: 3px;

            position: absolute;
          }
          .minus{
            left: 10px;
          }
          .plus{
            right: 10px;
          }

          input {
            pointer-events: none;
            width: 100%;
            border-radius: 15px;
            text-align: center;
            border: solid 1px $outline-color;
            font-size: 10px;
            height: 30px;

            &:focus {
              outline: none;
            }
          }
        }
      }

      .sub-total-container {
        span:nth-child(1) {
          font-weight: 100;
          color: black;
        }

        span {
          font-weight: 700;
          color: $main-color;
        }
      }

      .close-icon {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  .cart-buttons {
    margin-top: 100px;
    display: grid;
    width: 90%;
    gap: 24px;

    button {
      background-color: $main-color;
      border: transparent;
      color: white;
      padding: 1.2em;
      border-radius: 50px;
      font-weight: 700;
    }
    button:nth-child(1){
      background-color: transparent;
      border: 1px solid $main-color;
      color: $main-color;
    }
  }


}

.svg {
  height: 15px;
}
