<app-route-banner currentRoute="Shopping Cart"></app-route-banner>

<section>
  <div class="container tw-mt-10 lg:tw-grid lg:tw-grid-cols-2 tw-gap-8 tw-mb-8">
    <div>
      <h1 class="xs:tw-hidden tw-text-3xl lg:tw-block">Cart Items</h1>
      <app-cart-item imgSrc="assets/img/fans/fan-2.png" product_name="Vector SFSI750NW" product_price="₱7,918"></app-cart-item>
      <app-cart-item imgSrc="assets/img/fans/fan-7.jpg" product_name="Toshiba F-LSD10(W)PH" product_price="₱5,798"></app-cart-item>
      <app-cart-item imgSrc="assets/img/fans/fan-8.jpg" product_name="Asahi WF-821" product_price="₱1,948"></app-cart-item>
      <app-cart-item imgSrc="assets/img/fans/fan-9.jpg" product_name="Dowell TF3 816B" product_price="₱998"></app-cart-item>
    </div>

    <div class="lg:tw-grid-cols-2 tw-grid tw-gap-5">
      <button
        class="tw-bg-transparent outline-btn tw-block tw-w-full xs:tw-mt-12 lg:tw-mt-0 tw-py-4 tw-font-bold color-main tw-rounded-full">
        CONTINUE SHOPPING
      </button>
      <button class="bg-main tw-block tw-w-full xs:tw-mt-3 lg:tw-mt-0 tw-py-4 tw-font-bold tw-text-white tw-rounded-full">CLEAR
        SHOPPING CART
      </button>
    </div>


    <div class="tw-row-start-1 tw-col-start-2">
      <h1 class="xs:tw-mt-10 md:tw-text-2xl  lg:tw-mt-0 lg:tw-text-3xl">Summary</h1>

      <app-cart-summary></app-cart-summary>
      <button (click)="routerMethods.toCheckout()" class="bg-main tw-block tw-w-full tw-mt-3 tw-py-4 tw-font-bold tw-text-white tw-rounded-full tw-mb-6">
        PROCEED TO CHECKOUT
      </button>
    </div>

  </div>


</section>

