<app-route-banner class="" currentRoute="Register"></app-route-banner>

<section class="container tw-mb-6 lg:tw-grid lg:tw-grid-cols-2 lg:tw-h-screen lg:tw-content-center lg:tw-gap-8">
  <app-wrapper title="PERSONAL INFORMATION">
    <div class="tw-mb-3 tw-pointer-events-auto">
      <div class="tw-mb-2 tw-font-light tw-text-xl">First Name</div>
      <input class="border-main tw-border tw-rounded-sm tw-w-full focus:tw-outline-0 tw-h-12 tw-px-3" type="text" name="" >
    </div>

    <div class="tw-mb-3 tw-pointer-events-auto">
      <div class="tw-mb-2 tw-font-light tw-text-xl">Last Name</div>
      <input class="border-main tw-border tw-rounded-sm tw-w-full focus:tw-outline-0 tw-h-12 tw-px-3" type="text" name="" >
    </div>

    <div class="tw-mb-3 tw-pointer-events-auto">
      <div class="tw-mb-2 tw-font-light tw-text-xl">Mobile Number</div>
      <input class="border-main tw-border tw-rounded-sm tw-w-full focus:tw-outline-0 tw-h-12 tw-px-3" type="text" name="" >
    </div>

  </app-wrapper>

  <app-wrapper title="LOGIN INFORMATION">
    <div class="tw-mb-3 tw-pointer-events-auto">
      <div class="tw-mb-2 tw-font-light tw-text-xl">Email</div>
      <input class="border-main tw-border tw-rounded-sm tw-w-full focus:tw-outline-0 tw-h-12 tw-px-3" type="text" name="" >
    </div>
    <div class="tw-mb-3 tw-pointer-events-auto">
      <div class="tw-mb-2 tw-font-light tw-text-xl">Password</div>
      <input class="border-main tw-border tw-rounded-sm tw-w-full focus:tw-outline-0 tw-h-12 tw-px-3" type="text" name="" >
    </div>
    <div class="tw-mb-3 tw-pointer-events-auto">
      <div class="tw-mb-2 tw-font-light tw-text-xl">Repeat Password</div>
      <input class="border-main tw-border tw-rounded-sm tw-w-full focus:tw-outline-0 tw-h-12 tw-px-3" type="text" name="" >
    </div>
    <button class="tw-pointer-events-auto bg-main tw-block tw-w-full xs:tw-mt-9 lg:tw-mt-0 tw-py-4 tw-font-bold tw-text-white tw-rounded-full lg:tw-col-span-2 xl:tw-col-span-1 xl:tw-col-start-2" >REGISTER</button>
  </app-wrapper>
</section>
