<app-route-banner currentRoute="Checkout"></app-route-banner>
<section class="container lg:tw-grid lg:tw-grid-cols-2 lg:tw-gap-5 lg:tw-mt-14">
  <app-wrapper class="lg:tw-row-span-2" title="SHIPPING ADDRESS">
    <div class="tw-mb-3">
      <div class="tw-mb-2 tw-font-light tw-text-xl">Email</div>
      <input class="border-main tw-border tw-rounded-sm tw-w-full focus:tw-outline-0 tw-h-12 tw-px-3" type="text" name="" >
    </div>

    <div class="tw-mb-3">
      <div class="tw-mb-2 tw-font-light tw-text-xl">First Name</div>
      <input class="border-main tw-border tw-rounded-sm tw-w-full focus:tw-outline-0 tw-h-12 tw-px-3" type="text" name="" >
    </div>

    <div class="tw-mb-3">
      <div class="tw-mb-2 tw-font-light tw-text-xl">Last Name</div>
      <input class="border-main tw-border tw-rounded-sm tw-w-full focus:tw-outline-0 tw-h-12 tw-px-3" type="text" name="" >
    </div>

    <div class="tw-mb-3">
      <div class="tw-mb-2 tw-font-light tw-text-xl">Country</div>
      <input class="border-main tw-border tw-rounded-sm tw-w-full focus:tw-outline-0 tw-h-12 tw-px-3" type="text" name="" >
    </div>

    <div class="tw-mb-3">
      <div class="tw-mb-2 tw-font-light tw-text-xl">State/Province</div>
      <input class="border-main tw-border tw-rounded-sm tw-w-full focus:tw-outline-0 tw-h-12 tw-px-3" type="text" name="" >
    </div>

    <div class="tw-grid tw-grid-cols-3 tw-gap-5">
      <div class="tw-mb-3">
        <div class="tw-mb-2 tw-font-light tw-text-xl">Zip Code</div>
        <input class="border-main tw-border tw-rounded-sm tw-w-full focus:tw-outline-0 tw-h-12 tw-px-3" type="text" name="" >
      </div>
      <div class="tw-mb-3 tw-col-span-2">
        <div class="tw-mb-2 tw-font-light tw-text-xl">Mobile Number</div>
        <input class="border-main tw-border tw-rounded-sm tw-w-full focus:tw-outline-0 tw-h-12 tw-px-3" type="text" name="" >
      </div>
    </div>
  </app-wrapper>

  <app-wrapper title="PAYMENT METHOD">
    <div>
      <input type="radio" name="Payment">
      <span (click)="checkRadio($event)" class="tw-ml-5 tw-font-light tw-text-xl tw-cursor-pointer">Bank Transfer</span>
    </div>

    <div>
      <input type="radio" name="Payment">
      <span (click)="checkRadio($event)" class="tw-ml-5 tw-font-light tw-text-xl tw-cursor-pointer">Cash on Delivery</span>
    </div>

    <div>
      <input type="radio" name="Payment">
      <span (click)="checkRadio($event)" class="tw-ml-5 tw-font-light tw-text-xl tw-cursor-pointer">E-Wallet(s)</span>
    </div>
  </app-wrapper>

  <app-wrapper title="CART SUMMARY">
    <div>
      <app-cart-item [withClose]="false" imgSrc="assets/img/fans/fan-2.png" product_name="Vector SFSI750NW" product_price="₱7,918"></app-cart-item>
      <app-cart-item [withClose]="false" imgSrc="assets/img/fans/fan-7.jpg" product_name="Toshiba F-LSD10(W)PH" product_price="₱5,798"></app-cart-item>
      <app-cart-item [withClose]="false" imgSrc="assets/img/fans/fan-8.jpg" product_name="Asahi WF-821" product_price="₱1,948"></app-cart-item>
      <app-cart-item [withClose]="false" imgSrc="assets/img/fans/fan-9.jpg" product_name="Dowell TF3 816B" product_price="₱998"></app-cart-item>
      <button
        class="tw-bg-transparent outline-btn tw-block tw-w-full xs:tw-mt-12 lg:tw-mt-2 tw-py-3 tw-font-bold color-main tw-rounded-full lg:tw-mt-6">
        CONTINUE SHOPPING
      </button>

      <hr class="tw-mt-7">

      <app-cart-summary [withVoucher]="false" [withBorder]="false"></app-cart-summary>
    </div>
  </app-wrapper>
  <button class="bg-main tw-block tw-w-full xs:tw-mt-3 lg:tw-mt-0 tw-py-4 tw-font-bold tw-text-white tw-rounded-full tw-mb-9 lg:tw-col-start-2">PLACE ORDER
  </button>
</section>
