<app-navbar></app-navbar>
<div class="hero">
  <div class="hero-text">
    <div>Make the best decision.</div>
    <div class="bold">Choose Right, Choose us.</div>
    <button>Shop Now</button>
  </div>
  <img src="assets/img/fans/fan-1.jpg" alt="">
</div>

<div class="feature">
  <div class="title">
    <h1>Featured Products</h1>
    <div class="underline"></div>
  </div>
  <div class="products">
    <div class="product">
      <img src="assets/img/fans/fan-2.png" alt="" class="image-product">
      <div class="product-text">
        <p class="product-title">Vector SFSI750NW</p>
        <p class="product-subtitle">30-inch, Industrial Stand Fan</p>
        <img src="assets/img/Rating.png" alt="">
        <button>Buy Now</button>
        <span><object data="assets/svg/play-free-icon-font.svg" type="" class="svg"></object></span>
      </div>
    </div>
    <div class="product">
      <img src="assets/img/fans/fan-2.png" alt="" class="image-product">
      <div class="product-text">
        <p class="product-title">Vector SFSI750NW</p>
        <p class="product-subtitle">30-inch, Industrial Stand Fan</p>
        <img src="assets/img/Rating.png" alt="">
        <button>Buy Now</button>
        <span><object data="assets/svg/play-free-icon-font.svg" type="" class="svg"></object></span>
      </div>
    </div>
    <div class="product">
      <img src="assets/img/fans/fan-2.png" alt="" class="image-product">
      <div class="product-text">
        <p class="product-title">Vector SFSI750NW</p>
        <p class="product-subtitle">30-inch, Industrial Stand Fan</p>
        <img src="assets/img/Rating.png" alt="">
        <button>Buy Now</button>
        <span><object data="assets/svg/play-free-icon-font.svg" type="" class="svg"></object></span>
      </div>
    </div>
    <div class="product">
      <img src="assets/img/fans/fan-2.png" alt="" class="image-product">
      <div class="product-text">
        <p class="product-title">Vector SFSI750NW</p>
        <p class="product-subtitle">30-inch, Industrial Stand Fan</p>
        <img src="assets/img/Rating.png" alt="">
        <button>Buy Now</button>
        <span><object data="assets/svg/play-free-icon-font.svg" type="" class="svg"></object></span>
      </div>
    </div>
  </div>
</div>

<div class="popular">
  <div class="title">
    <h1>Popular Categories</h1>
    <div class="underline"></div>
  </div>
  <div class="popular-products-categories">
    <div class="popular-product-category">
      <img src="assets/img/fans/fan-1.jpg" alt="">
      <p>Stand Fan</p>
      <p>420 Products</p>
      <button class="pop-button">Buy Now</button>
      <span><object data="assets/svg/play-free-icon-font.svg" type="" class="svg"></object></span>
    </div>
    <div class="popular-product-category">
      <img src="assets/img/fans/fan-5.png" alt="">
      <p>Wall Fan</p>
      <p>69 Products</p>
      <button class="pop-button">Buy Now</button>
      <span><object data="assets/svg/play-free-icon-font.svg" type="" class="svg"></object></span>
    </div>
    <div class="popular-product-category">
      <img src="assets/img/fans/fan-5.png" alt="">
      <p>Wall Fan</p>
      <p>69 Products</p>
      <button class="pop-button">Buy Now</button>
      <span><object data="assets/svg/play-free-icon-font.svg" type="" class="svg"></object></span>
    </div>
  </div>
</div>

<div class="hot-deals">
  <div class="title">
    <h1>Hot Deals</h1>
    <div class="underline"></div>
  </div>
  <div class="products">
    <div class="product">
      <img src="assets/img/fans/fan-2.png" alt="" class="image-product">
      <div class="product-text">
        <p class="product-category">Stand Fan</p>
        <p class="product-title">Vector SFSI750NW</p>
        <p class="product-subtitle">30-inch, Industrial Stand Fan</p>
        <img src="assets/img/Rating.png" alt="">
        <span>₱ 2,500</span> <span>₱ 3,500</span>
      </div>
    </div>
    <div class="product">
      <img src="assets/img/fans/fan-2.png" alt="" class="image-product">
      <div class="product-text">
        <p class="product-category">Stand Fan</p>
        <p class="product-title">Vector SFSI750NW</p>
        <p class="product-subtitle">30-inch, Industrial Stand Fan</p>
        <img src="assets/img/Rating.png" alt="">
        <span>₱ 2,500</span> <span>₱ 3,500</span>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
