@import "src/styles";



.underline {
  width: 80px;
  margin-top: 10px;
  border-bottom: $main-color solid 2px;
}
.prod-shadow {
  box-shadow: $product-box-shadow;
}

.bg-main {
  background-color: $main-color;
}
