@import "src/styles";

.hero {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  .hero-text {
    margin-left: 36px;
    div:first-child{
      font-weight: 300;
    }
    button {
      margin-top: 40px;
      border-radius: 50px;
      border-color: transparent;
      background-color: $main-color;
      width: 180px;
      height: 40px;
      font-weight: 700;
      font-size: 15px;
      color: white;
    }

  }
  img {
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
}

.feature{
  margin-top: 100px;



}

.popular{
  .popular-products-categories{
    margin: 100px 36px 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    .popular-product-category{
      img {
        padding: 20px;
        min-height: 200px;
        min-width: 200px;
        outline: $outline-color 1px solid;
        border-radius: 5px;
        margin-bottom: 20px;
      }
      p:nth-child(2)
      {
        font-weight: 700;
      }
      p:nth-child(3)
      {
        font-weight: 100;
      }
      .pop-button{
        margin-top: 10px;
      }


    }
  }
  .popular-product-category:nth-child(3){
    display: none;
  }
}

.hot-deals{
  margin-top: 100px;
}

@media only screen and (min-width: 762px) {
  .hero{
    .hero-text{
      margin-left: 95px;
    }
    img{
      padding-left: 50px;
    }
  }

  .popular{
    .popular-products-categories{
      justify-items: center;
    }
  }

  .feature{
    .products{
      .product{
        margin: 0 95px 50px;
      }
    }
  }

  .hot-deals{
    .products{
      .product{
        margin: 0 95px 50px;
      }
    }
  }
}

@media only screen and (min-width: 960px){
  .feature{
    .products{
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
      margin: 100px 36px;
      .product {
      margin: 0;
      }
    }
  }

  .popular{
    .popular-products-categories{
      grid-template-columns: repeat(3,1fr);
    }
    .popular-product-category:nth-child(3){
      display: initial;
    }
  }

  .hot-deals{
    .products{
      margin-left: 36px;
      margin-right: 36px;
      margin-bottom: 50px;
      gap: 50px;
      grid-template-columns: repeat(2,1fr);
      .product{
        margin: 0;
      }
    }
  }
}




//helper class
.bold {
  font-size: 30px;
  font-weight: 600;
}
.title{
  display: grid;
  justify-items: center;
  h1{
    font-weight: 500;
    font-size: 24px;
  }
  .underline{
    width: 80px;
    margin-top: 10px;
    border-bottom: $main-color solid 2px;
  }
}
button {
  color: $main-color;
  margin-top: 50px;
  padding: 0;
  font-weight: 700;
  border: transparent;
  background-color: transparent;
  margin-right: 5px;
}
.svg{
  width: 10px;
}
.products {
  margin-top: 80px;
  display: grid;
  justify-items: center;
  .product{
    margin: 0 36px 50px;
    border-radius: 15px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: $product-box-shadow;
    min-width: 400px;

    .image-product {
      padding: 30px 10px;
      z-index: -1;
    }

    .product-text{
    width: 90%;
      p:nth-child(1){
        font-size: 15px;
        font-weight: 100;
      }
      p:nth-child(2) {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      p:nth-child(3){
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 10px;
      }
      span:nth-child(5){
        color: $main-color;
        font-weight: 700;
        font-size: 20px;
        display: inline-block;
        margin-top: 30px;
        margin-right: 10px;
      }
      span:nth-child(6){
        text-decoration: line-through;
        color: $outline-color;
        font-size: 15px;
      }
    }
  }
}
