
<section>
  <div class="container tw-grid tw-grid-cols-2 tw-my-6 tw-overflow-hidden">
    <div class="tw-self-center lg:tw-ml-16">
      <div class="tw-font-thin tw-text-xl lg:tw-text-2xl">Make the best decision.</div>
      <div class="tw-font-extrabold tw-text-3xl lg:tw-text-4xl">Choose Right, Choose us.</div>
      <button
        class="bg-main tw-rounded-full tw-font-bold tw-text-white tw-px-10 tw-py-2 tw-mt-8 lg:tw-py-3 lg:tw-mt-16 lg:tw-px-14">
        Shop Now
      </button>
    </div>
    <img class="lg:tw-ml-12 " alt="" src="assets/img/fans/fan-1.jpg">
  </div>
</section>


<section>

  <div class="container">

    <div class="tw-text-center tw-grid tw-justify-items-center tw-mt-36 xs:tw-mb-12 md:tw-mb-20">
      <h1 class="tw-text-2xl tw-font-medium">Featured Products</h1>
      <div class="underline"></div>
    </div>

    <div class="tw-grid tw-gap-7 tw-grid-cols-1 md:tw-gap-14 lg:tw-gap-16 lg:tw-grid-cols-2">
      <div class="tw-grid tw-grid-cols-2 prod-shadow tw-rounded-md">
        <img alt="" class="tw-ml-[-1rem] tw-z-[-1]" src="assets/img/fans/fan-3.jpg">
        <div class="tw-self-center lg:tw-ml-[-1rem]">
          <p class="tw-font-bold xs:tw-mb-2 md:tw-text-xl md:tw-mb-4">Union UGSF 1635RAS</p>
          <p class="tw-font-light md:tw-text-xl">16-inch Stand Fan, Rotary, 3 Speed Control</p>
          <img alt="" src="assets/img/Rating.png">
          <button (click)="routerMethod.toCart()" class="color-main xs:tw-mt-7 tw-font-semibold md:tw-mt-9 md:tw-text-xl">Buy Now</button>
          <span><object class="xs:tw-h-2 tw-inline tw-ml-2 md:tw-h-3" data="assets/svg/play-free-icon-font.svg"
                        type=""></object></span>

        </div>
      </div>
      <div class="tw-grid tw-grid-cols-2 prod-shadow tw-rounded-md">
        <img alt="" class="tw-ml-[-1rem] tw-z-[-1]" src="assets/img/fans/fan-4.jpg">
        <div class="tw-self-center lg:tw-ml-[-1rem]">
          <p class="tw-font-bold xs:tw-mb-2 md:tw-text-xl md:tw-mb-4">Dowell TF3 825</p>
          <p class="tw-font-light md:tw-text-xl">16-inch, Desk Fan with Thermal Fuse</p>
          <img alt="" src="assets/img/Rating.png">
          <button (click)="routerMethod.toCart()" class="color-main xs:tw-mt-7 tw-font-semibold md:tw-mt-9 md:tw-text-xl">Buy Now</button>
          <span><object class="xs:tw-h-2 tw-inline tw-ml-2 md:tw-h-3" data="assets/svg/play-free-icon-font.svg"
                        type=""></object></span>

        </div>
      </div>
      <div class="tw-grid tw-grid-cols-2 prod-shadow tw-rounded-md">
        <img alt="" class="tw-ml-[-1rem] tw-z-[-1]" src="assets/img/fans/fan-2.png">
        <div class="tw-self-center lg:tw-ml-[-1rem]">
          <p class="tw-font-bold xs:tw-mb-2 md:tw-text-xl md:tw-mb-4">Vector SFSI750NW</p>
          <p class="tw-font-light md:tw-text-xl">30-inch, Industrial Stand Fan</p>
          <img alt="" src="assets/img/Rating.png">
          <button (click)="routerMethod.toCart()" class="color-main xs:tw-mt-7 tw-font-semibold md:tw-mt-9 md:tw-text-xl">Buy Now</button>
          <span><object class="xs:tw-h-2 tw-inline tw-ml-2 md:tw-h-3" data="assets/svg/play-free-icon-font.svg"
                        type=""></object></span>

        </div>
      </div>
    </div>

  </div>

</section>


<section>

  <div class="container">

    <div class="tw-text-center tw-grid tw-justify-items-center tw-mt-36 xs:tw-mb-12 md:tw-mb-20">
      <h1 class="tw-text-2xl tw-font-medium">Popular Categories</h1>
      <div class="underline"></div>
    </div>

    <swiper
      [config]="popular_category_config"
    >
      <ng-template swiperSlide>
        <div>
          <img alt="" class="border-main tw-border tw-rounded-md tw-py-4" src="assets/img/fans/fan-5.jpg">
          <p class="tw-font-bold tw-mt-7">Wall Fan</p>
          <p class="tw-font-light">32 Products</p>
          <button class="color-main tw-mt-5 tw-font-bold">Browse</button>
          <span><object class="tw-h-2 tw-inline tw-ml-2" data="assets/svg/play-free-icon-font.svg"
                        type=""></object></span>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div>
          <img alt="" class="border-main tw-border tw-rounded-md tw-py-4" src="assets/img/fans/fan-1.jpg">
          <p class="tw-font-bold tw-mt-7">Stand Fan</p>
          <p class="tw-font-light">46 Products</p>
          <button class="color-main tw-mt-5 tw-font-bold">Browse</button>
          <span><object class="tw-h-2 tw-inline tw-ml-2" data="assets/svg/play-free-icon-font.svg"
                        type=""></object></span>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div>
          <img alt="" class="border-main tw-border tw-rounded-md tw-py-4" src="assets/img/fans/fan-4.jpg">
          <p class="tw-font-bold tw-mt-7">Desk Fan</p>
          <p class="tw-font-light">23 Products</p>
          <button class="color-main tw-mt-5 tw-font-bold">Browse</button>
          <span><object class="tw-h-2 tw-inline tw-ml-2" data="assets/svg/play-free-icon-font.svg"
                        type=""></object></span>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div>
          <img alt="" class="border-main tw-border tw-rounded-md tw-py-4" src="assets/img/fans/fan-2.png">
          <p class="tw-font-bold tw-mt-7">Industrial Fan</p>
          <p class="tw-font-light">9 Products</p>
          <button class="color-main tw-mt-5 tw-font-bold">Browse</button>
          <span><object class="tw-h-2 tw-inline tw-ml-2" data="assets/svg/play-free-icon-font.svg"
                        type=""></object></span>
        </div>
      </ng-template>
    </swiper>

  </div>

</section>

<section>

  <div class="container tw-pb-12">
    <div class="tw-text-center tw-grid tw-justify-items-center tw-mt-36 xs:tw-mb-12 md:tw-mb-20">
      <h1 class="tw-text-2xl tw-font-medium">Hot Deals</h1>
      <div class="underline"></div>
    </div>

    <swiper
      [config]="hot_deals_config"

    >
      <ng-template swiperSlide>
        <div class="border-main tw-border tw-grid tw-grid-cols-2 tw-rounded-md">
          <img alt="" class="tw-ml-[-1rem] tw-z-[-1]" src="assets/img/fans/fan-6.jpg">
          <div class="tw-place-self-center tw-ml-[-2rem]">
            <p class="tw-font-light">Industrial Fan</p>
            <p class="tw-font-bold tw-mb-4">Asahi WF-2601</p>
            <p class="tw-font-light">26-inch, Industrial Wall Fan, 250 watts</p>
            <img alt="" class="tw-mb-7" src="assets/img/Rating.png">
            <span class="tw-font-bold tw-mr-2 color-main tw-text-2xl">₱5,798</span> <span class="tw-line-through">₱5,998</span>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="border-main tw-border tw-grid tw-grid-cols-2 tw-rounded-md">
          <img alt="" class="tw-ml-[-1rem] tw-z-[-1]" src="assets/img/fans/fan-7.jpg">
          <div class="tw-place-self-center tw-ml-[-2rem]">
            <p class="tw-font-light">Stand Fan</p>
            <p class="tw-font-bold tw-mb-4">Toshiba F-LSD10(W)PH</p>
            <p class="tw-font-light">16-inch, Stand Fan with Remote, DC Motor</p>
            <img alt="" class="tw-mb-7" src="assets/img/Rating.png">
            <span class="tw-font-bold tw-mr-2 color-main tw-text-2xl">₱5,798</span> <span class="tw-line-through">₱6,798</span>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="border-main tw-border tw-grid tw-grid-cols-2 tw-rounded-md">
          <img alt="" class="tw-ml-[-1rem] tw-z-[-1]" src="assets/img/fans/fan-8.jpg">
          <div class="tw-place-self-center tw-ml-[-2rem]">
            <p class="tw-font-light">Wall Fan</p>
            <p class="tw-font-bold tw-mb-4">Asahi WF-821</p>
            <p class="tw-font-light">18-inch, Wall Fan, 90 watts, 1,425 RPM</p>
            <img alt="" class="tw-mb-7" src="assets/img/Rating.png">
            <span class="tw-font-bold tw-mr-2 color-main tw-text-2xl">₱1,948</span> <span class="tw-line-through">₱2,048</span>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="border-main tw-border tw-grid tw-grid-cols-2 tw-rounded-md">
          <img alt="" class="tw-ml-[-1rem] tw-z-[-1]" src="assets/img/fans/fan-9.jpg">
          <div class="tw-place-self-center tw-ml-[-2rem]">
            <p class="tw-font-light">Desk Fan</p>
            <p class="tw-font-bold tw-mb-4">Dowell TF3 816B</p>
            <p class="tw-font-light">16-inch, Desk Fan, Banana Blade</p>
            <img alt="" class="tw-mb-7" src="assets/img/Rating.png">
            <span class="tw-font-bold tw-mr-2 color-main tw-text-2xl">₱998</span> <span class="tw-line-through">₱1,298</span>
          </div>
        </div>
      </ng-template>

    </swiper>

  </div>
</section>



