
<div class="hero">
  <div class="hero-text">
    <div>Make the best decision.</div>
    <div class="bold">Choose Right, Choose us.</div>
    <button>Shop Now</button>
  </div>
  <img alt="" src="../../assets/img/fans/fan-1.jpg">
</div>

<div class="feature">
  <div class="title">
    <h1>Featured Products</h1>
    <div class="underline"></div>
  </div>
  <div class="featured-products">
    <div class="product">
      <img alt="" class="image-product" src="../../assets/img/fans/fan-2.png">
      <div class="product-text">
        <p class="product-title">Vector SFSI750NW</p>
        <p class="product-subtitle">30-inch, Industrial Stand Fan</p>
        <img alt="" src="../../assets/img/Rating.png">
        <button>Buy Now</button>
        <span><object class="svg" data="../../assets/svg/play-free-icon-font.svg" type=""></object></span>
      </div>
    </div>
    <div class="product">
      <img alt="" class="image-product" src="../../assets/img/fans/fan-2.png">
      <div class="product-text">
        <p class="product-title">Vector SFSI750NW</p>
        <p class="product-subtitle">30-inch, Industrial Stand Fan</p>
        <img alt="" src="../../assets/img/Rating.png">
        <button>Buy Now</button>
        <span><object class="svg" data="../../assets/svg/play-free-icon-font.svg" type=""></object></span>
      </div>
    </div>
    <div class="product">
      <img alt="" class="image-product" src="../../assets/img/fans/fan-2.png">
      <div class="product-text">
        <p class="product-title">Vector SFSI750NW</p>
        <p class="product-subtitle">30-inch, Industrial Stand Fan</p>
        <img alt="" src="../../assets/img/Rating.png">
        <button>Buy Now</button>
        <span><object class="svg" data="../../assets/svg/play-free-icon-font.svg" type=""></object></span>
      </div>
    </div>
    <div class="product">
      <img alt="" class="image-product" src="../../assets/img/fans/fan-2.png">
      <div class="product-text">
        <p class="product-title">Vector SFSI750NW</p>
        <p class="product-subtitle">30-inch, Industrial Stand Fan</p>
        <img alt="" src="../../assets/img/Rating.png">
        <button>Buy Now</button>
        <span><object class="svg" data="../../assets/svg/play-free-icon-font.svg" type=""></object></span>
      </div>
    </div>
    <div class="product">
      <img alt="" class="image-product" src="../../assets/img/fans/fan-2.png">
      <div class="product-text">
        <p class="product-title">Vector SFSI750NW</p>
        <p class="product-subtitle">30-inch, Industrial Stand Fan</p>
        <img alt="" src="../../assets/img/Rating.png">
        <button>Buy Now</button>
        <span><object class="svg" data="../../assets/svg/play-free-icon-font.svg" type=""></object></span>
      </div>
    </div>
    <div class="product">
      <img alt="" class="image-product" src="../../assets/img/fans/fan-2.png">
      <div class="product-text">
        <p class="product-title">Vector SFSI750NW</p>
        <p class="product-subtitle">30-inch, Industrial Stand Fan</p>
        <img alt="" src="../../assets/img/Rating.png">
        <button>Buy Now</button>
        <span><object class="svg" data="../../assets/svg/play-free-icon-font.svg" type=""></object></span>
      </div>
    </div>
  </div>
</div>

<div class="popular">
  <div class="title">
    <h1>Popular Categories</h1>
    <div class="underline"></div>
  </div>
  <swiper
    [config]="popular_category_config"
    class="popular-products-categories">
    <ng-template class="popular-product-category" swiperSlide>
      <img alt="" src="../../assets/img/fans/fan-1.jpg">
      <p>Wall Fan</p>
      <p>420 Products</p>
      <button class="pop-button">Buy Now</button>
      <span><object class="svg" data="../../assets/svg/play-free-icon-font.svg" type=""></object></span>
    </ng-template>
    <ng-template class="popular-product-category" swiperSlide>
      <img alt="" src="../../assets/img/fans/fan-1.jpg">
      <p>Desk Fan</p>
      <p>420 Products</p>
      <button class="pop-button">Buy Now</button>
      <span><object class="svg" data="../../assets/svg/play-free-icon-font.svg" type=""></object></span>
    </ng-template>
    <ng-template class="popular-product-category" swiperSlide>
      <img alt="" src="../../assets/img/fans/fan-1.jpg">
      <p>Desk Fan</p>
      <p>420 Products</p>
      <button class="pop-button">Buy Now</button>
      <span><object class="svg" data="../../assets/svg/play-free-icon-font.svg" type=""></object></span>
    </ng-template>
    <ng-template class="popular-product-category" swiperSlide>
      <img alt="" src="../../assets/img/fans/fan-1.jpg">
      <p>Desk Fan</p>
      <p>420 Products</p>
      <button class="pop-button">Buy Now</button>
      <span><object class="svg" data="../../assets/svg/play-free-icon-font.svg" type=""></object></span>
    </ng-template>
    <ng-template class="popular-product-category" swiperSlide>
      <img alt="" src="../../assets/img/fans/fan-1.jpg">
      <p>Desk Fan</p>
      <p>420 Products</p>
      <button class="pop-button">Buy Now</button>
      <span><object class="svg" data="../../assets/svg/play-free-icon-font.svg" type=""></object></span>
    </ng-template>
    <ng-template class="popular-product-category" swiperSlide>
      <img alt="" src="../../assets/img/fans/fan-1.jpg">
      <p>Desk Fan</p>
      <p>420 Products</p>
      <button class="pop-button">Buy Now</button>
      <span><object class="svg" data="../../assets/svg/play-free-icon-font.svg" type=""></object></span>
    </ng-template>
  </swiper>
</div>

<div class="hot-deals">
  <div class="title">
    <h1>Hot Deals</h1>
    <div class="underline"></div>
  </div>
  <swiper
    [config]="hot_deals_config"
    class="hot-deal-products">
    <ng-template swiperSlide>
      <div class="product">
        <img alt="" class="image-product" src="../../assets/img/fans/fan-2.png">
        <div class="product-text">
          <p class="product-category">Stand Fan</p>
          <p class="product-title">Vector SFSI750NW</p>
          <p class="product-subtitle">30-inch, Industrial Stand Fan</p>
          <img alt="" class="rating" src="../../assets/img/Rating.png">
          <span class="discounted-price">₱ 2,500</span> <span class="regular-price">₱ 3,500</span>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="product">
        <img alt="" class="image-product" src="../../assets/img/fans/fan-2.png">
        <div class="product-text">
          <p class="product-category">Stand Fan</p>
          <p class="product-title">Vector SFSI750NW</p>
          <p class="product-subtitle">30-inch, Industrial Stand Fan</p>
          <img alt="" class="rating" src="../../assets/img/Rating.png">
          <span class="discounted-price">₱ 2,500</span> <span class="regular-price">₱ 3,500</span>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="product">
        <img alt="" class="image-product" src="../../assets/img/fans/fan-2.png">
        <div class="product-text">
          <p class="product-category">Stand Fan</p>
          <p class="product-title">Vector SFSI750NW</p>
          <p class="product-subtitle">30-inch, Industrial Stand Fan</p>
          <img alt="" class="rating" src="../../assets/img/Rating.png">
          <span class="discounted-price">₱ 2,500</span> <span class="regular-price">₱ 3,500</span>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="product">
        <img alt="" class="image-product" src="../../assets/img/fans/fan-2.png">
        <div class="product-text">
          <p class="product-category">Stand Fan</p>
          <p class="product-title">Vector SFSI750NW</p>
          <p class="product-subtitle">30-inch, Industrial Stand Fan</p>
          <img alt="" class="rating" src="../../assets/img/Rating.png">
          <span class="discounted-price">₱ 2,500</span> <span class="regular-price">₱ 3,500</span>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="product">
        <img alt="" class="image-product" src="../../assets/img/fans/fan-2.png">
        <div class="product-text">
          <p class="product-category">Stand Fan</p>
          <p class="product-title">Vector SFSI750NW</p>
          <p class="product-subtitle">30-inch, Industrial Stand Fan</p>
          <img alt="" class="rating" src="../../assets/img/Rating.png">
          <span class="discounted-price">₱ 2,500</span> <span class="regular-price">₱ 3,500</span>
        </div>
      </div>
    </ng-template>
  </swiper>
</div>


