@import "src/styles";

.hero {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  .hero-text {
    margin-left: 36px;
    div:first-child{
      font-weight: 300;
    }
    button {
      margin-top: 40px;
      border-radius: 50px;
      border-color: transparent;
      background-color: $main-color;
      width: 180px;
      height: 40px;
      font-weight: 700;
      font-size: 15px;
      color: white;
    }

  }
  img {
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
}

.feature{
  margin-top: 100px;



}

.popular{
  .popular-products-categories{
    margin: 100px 36px 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    .popular-product-category{
      img {
        padding: 20px;
        min-height: 200px;
        min-width: 200px;
        outline: $outline-color 1px solid;
        border-radius: 5px;
        margin-bottom: 20px;
      }
      p:nth-child(2)
      {
        font-weight: 700;
      }
      p:nth-child(3)
      {
        font-weight: 100;
      }
      .pop-button{
        margin-top: 10px;
      }


    }
  }
  .popular-product-category:nth-child(3){
    display: none;
  }
}

.hot-deals{
  margin-top: 100px;
  .products{
    .product:nth-child(2){
      display: none;
    }
  }
}


@import "home-component-media-queries";


//helper class
.bold {
  font-size: 30px;
  font-weight: 600;
}
.title{
  display: grid;
  justify-items: center;
  h1{
    font-weight: 500;
    font-size: 24px;
  }
  .underline{
    width: 80px;
    margin-top: 10px;
    border-bottom: $main-color solid 2px;
  }
}
button {
  color: $main-color;
  padding: 0;
  font-weight: 700;
  border: transparent;
  background-color: transparent;
  margin-right: 5px;
}
.svg{
  width: 10px;
}
.products {
  margin-top: 80px;
  display: grid;
  justify-items: center;
  .product{
    margin: 0 36px 50px;
    border-radius: 15px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: $product-box-shadow;
    min-width: 400px;

    .image-product {
      padding: 30px 10px;
      z-index: -1;
    }

    .product-text{
    width: 90%;
      padding: 30px 0;
      img {
        margin-bottom: 30px;
      }
      span:nth-child(5){
        font-size: 24px;
        color: $main-color;
        margin-right: 20px;
      }
      span:nth-child(6){
        font-size: 18px;
        font-weight: 300;
        color: $outline-color;
        text-decoration: line-through;
      }
    }
  }
  .product-title{
    font-weight: 700;
    font-size: 24px;
  }
  .product-subtitle{
    font-weight: 100;
    margin-bottom: 10px;
  }
  .product-category{
    font-weight: 100;
  }

}
