@import "src/styles";

footer {
  z-index: 11;
  position: sticky;
  bottom: 0;
  background-color: white;
  box-shadow: $footer-box-shadow;

  .icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px 0;
    justify-items: center;

    .svg {
      width: 30px;
    }
  }
}

//media queries
@media only screen and (min-width: 762px) {
  footer{
    .icons {
      padding: 20px 0;
    }
  }

}

@media only screen and (min-width: 950px) {
  footer {
    display: none;
  }
}

