<footer>
  <div class="icons">
    <div (click)="toHome()" class="pointer">
      <object class="svg" data="assets/svg/icons8-home.svg" type=""></object>
    </div>

    <object class="svg" data="assets/svg/menu-burger-free-icon-font.svg" type=""></object>
    <object class="svg" data="assets/svg/search-free-icon-font.svg" type=""></object>

    <div (click)="toCart()" class="pointer">
      <object class="svg" data="assets/svg/shopping-cart-free-icon-font.svg" type=""></object>
    </div>

    <object class="svg" data="assets/svg/user-free-icon-font.svg" type=""></object>
  </div>
</footer>
