<app-route-banner currentRoute="FAQ"> </app-route-banner>

<section class="container tw-max-w-3xl tw-pb-10">
  <div class="tw-grid tw-justify-items-center lg:tw-col-span-2 tw-mt-12">
    <h1 class="xs:tw-text-2xl tw-font-bold lg:tw-text-3xl">FAQ</h1>
    <div class="underline"></div>
  </div>

  <div (click)="showAns($event)" class="tw-cursor-pointer">
    <div class="parent tw-border tw-border-gray-400 tw-text-gray-400 tw-p-5 tw-grid tw-grid-cols-2 tw-items-center tw-rounded-sm tw-mt-12 tw-pointer-events-none">
      <div class="tw-font-semibold tw-pointer-events-none title ">Is this site free to use?</div>
      <i class="fa-solid fa-plus tw-text-2xl tw-pointer-events-none icon tw-justify-self-end"></i>

      <div class="tw-col-span-2 ans tw-pointer-events-none tw-hidden tw-mt-6">
        Yes this site is free to use so that our clients can freely browse in our site. And also hassle free for our beloved customers
      </div>
    </div>
  </div>


  <div (click)="showAns($event)" class="tw-cursor-pointer">
    <div class="parent tw-border tw-border-gray-400 tw-text-gray-400 tw-p-5 tw-grid tw-grid-cols-2 tw-items-center tw-rounded-sm tw-mt-5 tw-pointer-events-none">
      <div class="tw-font-semibold tw-pointer-events-none title ">How can I make sure all items are good quality?</div>
      <i class="fa-solid fa-plus tw-text-2xl tw-pointer-events-none icon tw-justify-self-end"></i>

      <div class="tw-col-span-2 ans tw-pointer-events-none tw-hidden tw-mt-6">
        You can search online the brand names of your desired product in our website. And also we accept returns of items and 100% refund if the item is proven fake or low quality.
      </div>
    </div>
  </div>

  <div (click)="showAns($event)" class="tw-cursor-pointer">
    <div class="parent tw-border tw-border-gray-400 tw-text-gray-400 tw-p-5 tw-grid tw-grid-cols-2 tw-items-center tw-rounded-sm tw-mt-5 tw-pointer-events-none">
      <div class="tw-font-semibold tw-pointer-events-none title ">Does this site have shipping worldwide?</div>
      <i class="fa-solid fa-plus tw-text-2xl tw-pointer-events-none icon tw-justify-self-end"></i>

      <div class="tw-col-span-2 ans tw-pointer-events-none tw-hidden tw-mt-6">
        Yes we really value our beloved customers that even you're in another country we can still deliver your desired items in our site.
      </div>
    </div>
  </div>

  <div (click)="showAns($event)" class="tw-cursor-pointer">
    <div class="parent tw-border tw-border-gray-400 tw-text-gray-400 tw-p-5 tw-grid tw-grid-cols-2 tw-items-center tw-rounded-sm tw-mt-5 tw-pointer-events-none">
      <div class="tw-font-semibold tw-pointer-events-none title ">How long will it takes to receive the items?</div>
      <i class="fa-solid fa-plus tw-text-2xl tw-pointer-events-none icon tw-justify-self-end"></i>

      <div class="tw-col-span-2 ans tw-pointer-events-none tw-hidden tw-mt-6">
        It takes 7-10days but if you're in another country probably around 1 month. But sometimes it depends on the courier/shipping company
      </div>
    </div>
  </div>




</section>
