/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import "swiper/swiper-bundle.css";

$nav-box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.37);
$footer-box-shadow: 0px -4px 30px 0px rgba(0, 0, 0, 0.37);
$product-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.27);

* {
  font-family: 'Open Sans', sans-serif;
}

$main-color: #00AFF0;
$outline-color: #707070;


